# Proyecto Final
### Nombre: Brandon Geovanny Rodas LÃ©mus
### Carnet: 23002114

In [2]:
import pandas as pd
import numpy as np
import configparser

In [3]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\rodas\anaconda3\lib\site-packages (1.1.0)

In [4]:
config = configparser.ConfigParser()
config.read('config.cfg')

['config.cfg']

In [5]:
config.get('RDS', 'DB_HOST')

'proyecto-2.czw6q84ow773.us-east-2.rds.amazonaws.com'

In [6]:
mysql_driver = f"""mysql+pymysql://{config.get('RDS', 'DB_USERNAME')}:{config.get('RDS', 'DB_PASSWORD')}@{config.get('RDS', 'DB_HOST')}:{config.get('RDS', 'DB_PORT')}/{config.get('RDS', 'DB_NAME')}"""

In [7]:
mysql_driver

'mysql+pymysql://admin_proyecto:GelcoE9482,c-2lGo20*+D@proyecto-2.czw6q84ow773.us-east-2.rds.amazonaws.com:3306/Proyecto2'

### Carga de las tablas

In [9]:
#airlines
airlines_data = pd.read_csv('airlines.csv')
airlines_data.head()

  carrier                    name
0      9E       Endeavor Air Inc.
1      AA  American Airlines Inc.
2      AS    Alaska Airlines Inc.
3      B6         JetBlue Airways
4      DL    Delta Air Lines Inc.

In [18]:
airlines_data.to_sql('airlines', mysql_driver, index=False, if_exists='append')

16

In [19]:
#airports
airports_data = pd.read_csv('airlines.csv')
airports_data.head()

  carrier                    name
0      9E       Endeavor Air Inc.
1      AA  American Airlines Inc.
2      AS    Alaska Airlines Inc.
3      B6         JetBlue Airways
4      DL    Delta Air Lines Inc.

In [21]:
airports_data.to_sql('airports', mysql_driver, index=False, if_exists='append')

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'carrier' in 'field list'")
[SQL: INSERT INTO airports (carrier, name) VALUES (%(carrier)s, %(name)s)]
[parameters: ({'carrier': '9E', 'name': 'Endeavor Air Inc.'}, {'carrier': 'AA', 'name': 'American Airlines Inc.'}, {'carrier': 'AS', 'name': 'Alaska Airlines Inc.'}, {'carrier': 'B6', 'name': 'JetBlue Airways'}, {'carrier': 'DL', 'name': 'Delta Air Lines Inc.'}, {'carrier': 'EV', 'name': 'ExpressJet Airlines Inc.'}, {'carrier': 'F9', 'name': 'Frontier Airlines Inc.'}, {'carrier': 'FL', 'name': 'AirTran Airways Corporation'}  ... displaying 10 of 16 total bound parameter sets ...  {'carrier': 'WN', 'name': 'Southwest Airlines Co.'}, {'carrier': 'YV', 'name': 'Mesa Airlines Inc.'})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [22]:
#flights
flights_data = pd.read_csv('airlines.csv')
flights_data.head()

  carrier                    name
0      9E       Endeavor Air Inc.
1      AA  American Airlines Inc.
2      AS    Alaska Airlines Inc.
3      B6         JetBlue Airways
4      DL    Delta Air Lines Inc.

In [23]:
flights_data.to_sql('flights', mysql_driver, index=False, if_exists='append')

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'name' in 'field list'")
[SQL: INSERT INTO flights (carrier, name) VALUES (%(carrier)s, %(name)s)]
[parameters: ({'carrier': '9E', 'name': 'Endeavor Air Inc.'}, {'carrier': 'AA', 'name': 'American Airlines Inc.'}, {'carrier': 'AS', 'name': 'Alaska Airlines Inc.'}, {'carrier': 'B6', 'name': 'JetBlue Airways'}, {'carrier': 'DL', 'name': 'Delta Air Lines Inc.'}, {'carrier': 'EV', 'name': 'ExpressJet Airlines Inc.'}, {'carrier': 'F9', 'name': 'Frontier Airlines Inc.'}, {'carrier': 'FL', 'name': 'AirTran Airways Corporation'}  ... displaying 10 of 16 total bound parameter sets ...  {'carrier': 'WN', 'name': 'Southwest Airlines Co.'}, {'carrier': 'YV', 'name': 'Mesa Airlines Inc.'})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [24]:
#planes
planes_data = pd.read_csv('airlines.csv')
planes_data.head()

  carrier                    name
0      9E       Endeavor Air Inc.
1      AA  American Airlines Inc.
2      AS    Alaska Airlines Inc.
3      B6         JetBlue Airways
4      DL    Delta Air Lines Inc.

In [25]:
planes_data.to_sql('planes', mysql_driver, index=False, if_exists='append')

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'carrier' in 'field list'")
[SQL: INSERT INTO planes (carrier, name) VALUES (%(carrier)s, %(name)s)]
[parameters: ({'carrier': '9E', 'name': 'Endeavor Air Inc.'}, {'carrier': 'AA', 'name': 'American Airlines Inc.'}, {'carrier': 'AS', 'name': 'Alaska Airlines Inc.'}, {'carrier': 'B6', 'name': 'JetBlue Airways'}, {'carrier': 'DL', 'name': 'Delta Air Lines Inc.'}, {'carrier': 'EV', 'name': 'ExpressJet Airlines Inc.'}, {'carrier': 'F9', 'name': 'Frontier Airlines Inc.'}, {'carrier': 'FL', 'name': 'AirTran Airways Corporation'}  ... displaying 10 of 16 total bound parameter sets ...  {'carrier': 'WN', 'name': 'Southwest Airlines Co.'}, {'carrier': 'YV', 'name': 'Mesa Airlines Inc.'})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [8]:
#weather
weather_data = pd.read_csv('weather.csv')
weather_data.head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01T06:00:00Z
1,EWR,2013,1,1,2,39.02,26.96,61.63,250.0,8.05546,NaN,0.0,1012.3,10.0,2013-01-01T07:00:00Z
2,EWR,2013,1,1,3,39.02,28.04,64.43,240.0,11.50780,NaN,0.0,1012.5,10.0,2013-01-01T08:00:00Z
3,EWR,2013,1,1,4,39.92,28.04,62.21,250.0,12.65858,NaN,0.0,1012.2,10.0,2013-01-01T09:00:00Z
4,EWR,2013,1,1,5,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0,2013-01-01T10:00:00Z

In [9]:
weather_data.to_sql('weather', mysql_driver, index=False, if_exists='append')

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'time_hour' in 'field list'")
[SQL: INSERT INTO weather (origin, year, month, day, hour, temp, dewp, humid, wind_dir, wind_speed, wind_gust, precip, pressure, visib, time_hour) VALUES (%(origin)s, %(year)s, %(month)s, %(day)s, %(hour)s, %(temp)s, %(dewp)s, %(humid)s, %(wind_dir)s, %(wind_speed)s, %(wind_gust)s, %(precip)s, %(pressure)s, %(visib)s, %(time_hour)s)]
[parameters: ({'origin': 'EWR', 'year': 2013, 'month': 1, 'day': 1, 'hour': 1, 'temp': 39.02, 'dewp': 26.06, 'humid': 59.37, 'wind_dir': 270.0, 'wind_speed': 10.35702, 'wind_gust': None, 'precip': 0.0, 'pressure': 1012.0, 'visib': 10.0, 'time_hour': '2013-01-01T06:00:00Z'}, {'origin': 'EWR', 'year': 2013, 'month': 1, 'day': 1, 'hour': 2, 'temp': 39.02, 'dewp': 26.96, 'humid': 61.63, 'wind_dir': 250.0, 'wind_speed': 8.05546, 'wind_gust': None, 'precip': 0.0, 'pressure': 1012.3, 'visib': 10.0, 'time_hour': '2013-01-01T07:00:00Z'}, {'origin': 'EWR', 'year': 2013, 'month': 1, 'day': 1, 'hour': 3, 'temp': 39.02, 'dewp': 28.04, 'humid': 64.43, 'wind_dir': 240.0, 'wind_speed': 11.5078, 'wind_gust': None, 'precip': 0.0, 'pressure': 1012.5, 'visib': 10.0, 'time_hour': '2013-01-01T08:00:00Z'}, {'origin': 'EWR', 'year': 2013, 'month': 1, 'day': 1, 'hour': 4, 'temp': 39.92, 'dewp': 28.04, 'humid': 62.21, 'wind_dir': 250.0, 'wind_speed': 12.65858, 'wind_gust': None, 'precip': 0.0, 'pressure': 1012.2, 'visib': 10.0, 'time_hour': '2013-01-01T09:00:00Z'}, {'origin': 'EWR', 'year': 2013, 'month': 1, 'day': 1, 'hour': 5, 'temp': 39.02, 'dewp': 28.04, 'humid': 64.43, 'wind_dir': 260.0, 'wind_speed': 12.65858, 'wind_gust': None, 'precip': 0.0, 'pressure': 1011.9, 'visib': 10.0, 'time_hour': '2013-01-01T10:00:00Z'}, {'origin': 'EWR', 'year': 2013, 'month': 1, 'day': 1, 'hour': 6, 'temp': 37.94, 'dewp': 28.04, 'humid': 67.21, 'wind_dir': 240.0, 'wind_speed': 11.5078, 'wind_gust': None, 'precip': 0.0, 'pressure': 1012.4, 'visib': 10.0, 'time_hour': '2013-01-01T11:00:00Z'}, {'origin': 'EWR', 'year': 2013, 'month': 1, 'day': 1, 'hour': 7, 'temp': 39.02, 'dewp': 28.04, 'humid': 64.43, 'wind_dir': 240.0, 'wind_speed': 14.96014, 'wind_gust': None, 'precip': 0.0, 'pressure': 1012.2, 'visib': 10.0, 'time_hour': '2013-01-01T12:00:00Z'}, {'origin': 'EWR', 'year': 2013, 'month': 1, 'day': 1, 'hour': 8, 'temp': 39.92, 'dewp': 28.04, 'humid': 62.21, 'wind_dir': 250.0, 'wind_speed': 10.35702, 'wind_gust': None, 'precip': 0.0, 'pressure': 1012.2, 'visib': 10.0, 'time_hour': '2013-01-01T13:00:00Z'}  ... displaying 10 of 26115 total bound parameter sets ...  {'origin': 'LGA', 'year': 2013, 'month': 12, 'day': 30, 'hour': 17, 'temp': 30.92, 'dewp': 12.92, 'humid': 46.74, 'wind_dir': 320.0, 'wind_speed': 17.261699999999998, 'wind_gust': None, 'precip': 0.0, 'pressure': 1019.9, 'visib': 10.0, 'time_hour': '2013-12-30T22:00:00Z'}, {'origin': 'LGA', 'year': 2013, 'month': 12, 'day': 30, 'hour': 18, 'temp': 28.94, 'dewp': 10.94, 'humid': 46.41, 'wind_dir': 330.0, 'wind_speed': 18.41248, 'wind_gust': None, 'precip': 0.0, 'pressure': 1020.9, 'visib': 10.0, 'time_hour': '2013-12-30T23:00:00Z'})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

# Preguntas de Negocio

In [12]:
# 1. NÃºmero de vuelos por aÃ±o,
# 2. Mes con mÃ¡s vuelos en un aÃ±o,
# 3. Aviones con mÃ¡s vuelos, 
# 4. Aviones mÃ¡s utilizados por tipo de motor, 
# 5. Aviones con mÃ¡s facturaciÃ³n,
# 6. AviÃ³n con mÃ¡s asientos,
# 7. El AviÃ³n con mÃ¡s tiempo de vuelo,
# 8. El dÃ­a y hora con mÃ¡s vuelos en un mes,
# 9. Mayor cantidad de origenes,
# 10. Mayor cantidad de destinos.